html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  overflow-x: hidden;
  width: 100vw;
}

a {
  color: inherit;
  text-decoration: none;
}
*:focus {
  -webkit-tap-highlight-color: rgba(255, 0, 0, 0);
  outline: none;
  margin: 0;
  padding: 0;
}
:root {
  --white-text-color: rgb(238, 238, 238);
  --red-text-color: rgb(248, 14, 14);
  --dark-black-style: rgb(37, 37, 37);
  --dark-black-style-2: rgb(42, 42, 42);
}
